.body{
    display:flex;
    justify-content: center !important;
    align-items: center !important;
}

.element-panel-principal {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

    .element-panel-principal .div {
        background-color: var(--palettewhite);
        width: 375px;
        height: 812px;
        position: relative;
    }

    .element-panel-principal .left-side {
        position: absolute;
        width: 54px;
        height: 21px;
        top: 12px;
        left: 21px;
        background-size: 100% 100%;
    }

    .element-panel-principal .home-indicator {
        position: absolute;
        width: 375px;
        height: 34px;
        top: 778px;
        left: 0;
        background-color: var(--palettewhite);
    }

    .element-panel-principal .home-indicator-2 {
        position: relative;
        width: 134px;
        height: 5px;
        top: 21px;
        left: 121px;
        background-color: var(--label-color-light-primary);
        border-radius: 100px;
    }

    .element-panel-principal .img {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .element-panel-principal .title-user-profile {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: 10px;
        left: 24px;
    }

    .element-panel-principal .text-wrapper {
        position: relative;
        width: 264px;
        font-family: var(--heading-h4-font-family);
        font-weight: var(--heading-h4-font-weight);
        color: var(--iconos-botones);
        font-size: var(--heading-h4-font-size);
        letter-spacing: var(--heading-h4-letter-spacing);
        line-height: var(--heading-h4-line-height);
        font-style: var(--heading-h4-font-style);
    }

    .element-panel-principal .profile-image {
        display: inline-flex;
        align-items: flex-start;
        gap: 10px;
        padding: 8px;
        position: relative;
        flex: 0 0 auto;
        background-color: var(--iconos-botones);
        border-radius: 100px;
    }

    .element-panel-principal .image {
        position: relative;
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .element-panel-principal .navbar-simple {
        display: flex;
        width: 375px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 16px 32px;
        position: absolute;
        top: 722px;
        left: 0;
        background-color: var(--palettewhite);
        box-shadow: var(--bottom-tabbar);
    }

    .element-panel-principal .cards-container {
        display: flex;
        width: 375px;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        margin: 0 auto;
        top: 85px;
        position: absolute;
        left: 0;
    }

    .element-panel-principal .card {
        text-decoration: none;
        color: inherit;
    }

    .element-panel-principal .horizontal-card {
        display: flex;
        width: 100%;
        height: 102px;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        background-color: var(--inkink-06);
        border-radius: 14px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .element-panel-principal .horizontal-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .element-panel-principal .your-diet-chart {
        font-family: "Raleway", Helvetica;
        font-weight: 700;
        color: #1b6379;
        font-size: 24px;
        letter-spacing: -0.50px;
        line-height: 26px;
    }

    .element-panel-principal .card-image {
        height: 70px;
        width: 70px;
        object-fit: cover;
    }
