.element-panel-principal {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .element-panel-principal .div {
        background-color: var(--palettewhite);
        width: 375px;
        min-height: 100vh; /* Asegura altura mínima completa de pantalla */
        max-height: none;
        overflow-y: auto; /* Habilita scroll vertical */
        position: relative;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .element-panel-principal .img {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .element-panel-principal .title-user-profile {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        padding-top: 10px;
        left: 0px;
        height: 70px;
        background-color: white;
        z-index:10;
    }

    .element-panel-principal .text-wrapper {
        position: relative;
        width: 264px;
        font-family: var(--heading-h4-font-family);
        font-weight: var(--heading-h4-font-weight);
        color: var(--iconos-botones);
        font-size: var(--heading-h4-font-size);
        letter-spacing: var(--heading-h4-letter-spacing);
        line-height: var(--heading-h4-line-height);
        font-style: var(--heading-h4-font-style);
    }

        .element-panel-principal .profile-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            border: none;
            display: inline-flex;
            align-items: flex-start;
            gap: 10px;
            padding: 8px;
            position: relative;
            flex: 0 0 auto;
            background-color: var(--iconos-botones);
            border-radius: 50%;
            margin-left: 53px;
            margin-right:10px;
            z-index:10;
        }

    .element-panel-principal .image {
        position: relative;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .element-panel-principal .navbar-simple {
        display: flex;
        width: 375px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 16px 32px;
        position: absolute;
        top: 670px;
        left: 0;
        background-color: var(--palettewhite);
        box-shadow: var(--bottom-tabbar);
    }

        .element-panel-principal .cards-container {
            display: flex;
            width: 375px;
            flex-direction: column;
            gap: 16px;
            padding: 16px;
            padding-top: 30px;
            margin: 0 auto;
            top: 50px;
            position: absolute;
            left: 0;
            background-color: white;
            height: 620px;
        }

    .element-panel-principal .card {
        text-decoration: none;
        color: inherit;
    }

    .element-panel-principal .horizontal-card {
        display: flex;
        width: 100%;
        height: 102px;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        background-color: var(--inkink-06);
        border-radius: 14px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .element-panel-principal .horizontal-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .element-panel-principal .your-diet-chart {
        font-family: "Raleway", Helvetica;
        font-weight: 700;
        color: #1b6379;
        font-size: 24px;
        letter-spacing: -0.50px;
        line-height: 26px;
    }

    .element-panel-principal .card-image {
        height: 70px;
        width: 70px;
        object-fit: cover;
    }
