@page
@model asp_presentacion.Pages.CuentaModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/styleguideHC.css" />
    <link rel="stylesheet" href="~/css/styleCuenta.css" />
</head>
<body>
    <div class="cuenta">
        <div class="navbar">
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-home-2.svg" />
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-bell.svg" />
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-setting.svg" />
        </div>
        <div class="div">
            <a href="Perfil">
                <div class="arrow">
                    <img src="~/images/left-arrow.png" />
                </div>
            </a>

            <div class="your-diet-chart">Cuenta</div>
            <div class="card-grid">
                <div class="note-card">
                    <ul>
                        <li class="li1"><div class="today">Datos personales</div>
                            <p class="div-2">Verifica tus datos personales</p>
                        </li>
                    </ul>
                </div>

                <div class="note-card">
                    <ul>
                        <li class="li2">
                            <div class="today">Tu información y tus permisos</div>
                            <p class="div-2">Accede a tu información, tu historial de citas y permisos autorizados</p>
                        </li>
                    </ul>
                </div>
                <a href="EditarPaciente">
                    <div class="note-card">
                    <ul>
                        <li class="li3">
                            <div class="today">Actualizar datos</div>
                            <p class="div-2">Cambia y completa los datos resultantes</p>
                        </li>
                    </ul>
                </div>
                </a>
            </div>      
        </div>
    </div>

</body>
</html>