@page
@model asp_presentacion.Pages.HistoriaClinica1Model
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/styleguideHC.css" />
    <link rel="stylesheet" href="~/css/styleHC.css" />
</head>
<body>
    <div class="historial-clinico" data-model-id="1:10212">
        <div class="div">
            <div class="overlap-group">
                <div class="home-indicator"><div class="home-indicator-2"></div></div>
                <div class="home-indicator-wrapper"><div class="home-indicator-2"></div></div>
                <div class="card-grid">
                    <div class="row">
                        <div class="note-card">
                            <div class="today">Última cita médica</div>
                            <p class="lorem-ipsum-dolor">10 de diciembre 2020, recomendación: todo está en orden</p>
                        </div>
                        <div class="note-card">
                            <div class="today">Último examen</div>
                            <p class="text-wrapper">
                                Todo en orden. Los niveles de azúcar un poco altos. Se recomienda estar pendiente.
                            </p>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="note-card">
                            <div class="today">Fórmula</div>
                            <p class="div-2">Acetaminofén cada 8h durante 15 días.</p>
                        </div>
                        <div class="note-card">
                            <div class="today">Diagnósticos</div>
                            <p class="div-2">El paciente presenta un leve dolor de cabeza.</p>
                        </div>
                    </div>
                    <div class="row-3">
                        <div class="note-card-2">
                            <div class="today">Tipo de Sangre</div>
                            <div class="lorem-ipsum-dolor-2">O+</div>
                        </div>
                        <div class="note-card">
                            <div class="today">Acudiente</div>
                            <p class="p">Maria Elena Parentezco: Hermana <br />tel: 30223642</p>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="note-card">
                            <div class="today">EPS</div>
                            <div class="div-2">Suramericana</div>
                        </div>
                        <div class="note-card">
                            <div class="today">Dirección</div>
                            <p class="div-2">
                                <span class="span">
                                    Carr 30 # 30-20
                                </span> <span class="span">Barrio tinto - Ant</span>
                            </p>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="note-card">
                            <div class="today">Fecha de nacimiento</div>
                            <p class="div-2">Lorem ipsum dolor sit amet, consectetur Lo...</p>
                        </div>
                        <div class="note-card">
                            <div class="today">Nombres</div>
                            <p class="div-2">Lorem ipsum dolor sit amet, consectetur Lo...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iphone-x-or-newer">
                <div class="right-side">
                    <img class="battery" src="img/battery.png" />
                    <img class="wifi" src="img/wifi.svg" />
                    <img class="mobile-signal" src="img/mobile-signal.svg" />
                </div>
                <div class="left-side"></div>
            </div>
            <div class="overlap"><img class="icon-back" src="img/back.svg" /></div>
            <div class="overlap-2">
                <div class="horizontal-card">
                    <div class="your-diet-chart">Historial clínico</div>
                    <div class="illustration"></div>
                </div>
                <img class="image" src="img/image-33.png" />
            </div>
        </div>
    </div>
</body>
</html>
