@page
@model asp_presentacion.Pages.Index1Model
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/styleguideHC.css" />
    <link rel="stylesheet" href="~/css/styleIndex.css" />
</head>
<body>
    <div class="index">
        <div class="div">
            <div class="overlap-group">
                <div class="card-grid">
                    <div class="today">Bienvenido</div>
                    <div class="today2">Mi Salud</div>
                </div>
            </div>
            <img class="logo" src="/images/logo.svg" />

            <div class="search-form-container">
                <button type="button" class="search-button1" role="link" onclick="window.location='Inicio'">Iniciar sesión</button>
                <button type="button" class="search-button1" role="link" onclick="window.location='Registro'">Crear cuenta</button>
            </div>

        </div>
    </div>

</body>
</html>