@page
@model asp_presentacion.Pages.MensajeExitoModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/styleguideHC.css" />
    <link rel="stylesheet" href="~/css/styleMensaje.css" />
</head>
<body>
    <div class="mensaje">
        <div class="navbar">
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-home-2.svg" />
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-bell.svg" />
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-setting.svg" />
        </div>
        <div class="div">

            <a href="Inicio">
                <div class="arrow">
                    <img src="~/images/left-arrow.png" />
                </div>
            </a>

            <div class="overlap-group">
                <div class="card-grid">
                    <div class="today">Datos actualizados<br>con éxito</div>
                </div>

            </div>

            <a href="Inicio">
                <div class="search-form-container">
                    <button type="button" class="search-button1">✔</button>
                </div>
            </a>
        </div>
    </div>

</body>
</html>