@page
@model asp_presentacion.Pages.PerfilModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/styleguideHC.css" />
    <link rel="stylesheet" href="~/css/stylePerfil.css" />
</head>
<body>
    <div class="perfil">
        <div class="navbar">
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-home-2.svg" />
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-bell.svg" />
            <img class="img" src="https://c.animaapp.com/xuEWHKzq/img/icon-setting.svg" />
        </div>
        <div class="div">
            <a href="Inicio">
                <div class="arrow">
                    <img src="~/images/left-arrow.png" />
                </div>
            </a>

            <div class="your-diet-chart">Cuenta</div>

            <div class="overlap-group">
                <div class="card-grid">
                    <img class="image" src="https://c.animaapp.com/xuEWHKzq/img/image@2x.png" />
                    <img class="image2" src="~/images/editar.png" />
                    <div class="your-diet-chartn">Julia Mario</div>
                    <div class="your-diet-chart1">Juliamario@mail.com</div>
                </div>
                <a href="Cuenta">
                    <div class="your-diet-chart2">Cuenta</div>
                </a>
                <div class="your-diet-chart2">Notificaciones</div>
                <div class="your-diet-chart2">Privacidad</div>
                <div class="your-diet-chart2">Cerrar sesión</div>
                <img class="image3" id="img1" src="~/images/fder.png" />
                <img class="image3" id="img2" src="~/images/fder.png" />
                <img class="image3" id="img3" src="~/images/fder.png" />
                <img class="image4" id="img4" src="~/images/usuario.png" />
                <img class="image4" id="img5" src="~/images/camp.png" />
                <img class="image4" id="img6" src="~/images/sec.png" />
                <img class="image4" id="img7" src="~/images/cerrar.png" />
            </div>
        </div>
    </div>

</body>
</html>